<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer/common :: head"></head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   <!-- Header Section Begin -->
    <header th:replace = "customer/common :: header"></header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div th:replace = "customer/common :: breacrumb-section-checkout"></div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form method="POST" th:action="@{/shoppingCartConfirmation}" th:object=${cartInfo} class="checkout-form">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a th:href="@{/shoppingCartCustomer}" class="content-btn">Chỉnh sửa thông tin của bạn</a>
                        </div>
                        <h4>Biiling Details</h4>
                        <h4>Customer Information:</h4>
						         <ul class="list-group">
						            <li class="list-group-item">Name: <span th:utext="${cartInfo.customerInfo.name}"></span></li>
						            <li class="list-group-item">Email: <span th:utext="${cartInfo.customerInfo.address}"></span></li>
						            <li class="list-group-item">Phone: <span th:utext="${cartInfo.customerInfo.email}"></span></li>
						            <li class="list-group-item">Address: <span th:utext="${cartInfo.customerInfo.phone}"></span></li>
						         </ul>

                         <div class="row">
                            <div class="proceed-checkout" style="margin-top:20px">
                                <ul>
                                    <li class="subtotal">Quantity<span th:text="${#numbers.formatDecimal(cartInfo.quantityTotal,2,0,'COMMA')}"></span></li>
                                    <li class="cart-total">Total: &nbsp;&nbsp;&nbsp;
                                    	<span th:text="${#numbers.formatDecimal(cartInfo.amountTotal,2,3,'COMMA')}"></span>
                                    </li>
                                </ul>
                           </div>
                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                        	<a th:href="@{/shoppingCart}" class="content-btn">Chỉnh sửa thông tin giỏ hàng của bạn</a>
                            
                        </div>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table" th:each="cartLineInfo : ${cartInfo.cartLines}">
                                    <li>Product <span>Total</span><span>Total</span></li>
                                    <li class="fw-normal">
                                    	<img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" alt="" style="width:100px">
                                    </li>
                                    <li class="fw-normal">
                                    	<p th:text="${cartLineInfo.productInfo.name}"></p>
                                    </li>
                                    <li class="fw-normal">
                                   		<p th:text="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,3,'COMMA')}"></p>
                                    </li>
                                    <li class="fw-normal">
                                   		<p th:text="${cartLineInfo.quantity}"></p>
                                    </li>
                                    <li class="subtotal">Subtotal<span th:text="${#numbers.formatDecimal(cartLineInfo.amount,2,3,'COMMA')}"></span></li>
                                    
                                </ul>
                                
                                <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>

                                <div class="order-btn">
                                    <button type="submit" class="site-btn place-btn">Place Order</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

     <!-- Partner Logo Section Begin -->
    <div th:replace = "customer/common :: logo"></div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer th:replace = "customer/common :: footer"></footer>
    <!-- Footer Section End -->
</body>

</html>