<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head th:replace="customer/common :: head"></head>
<body>
    <!-- Header Section Begin -->
    <header th:replace="customer/common :: header"></header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div th:replace="customer/common :: breacrumb-section-shop">
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                 <!-- Filter Begin -->
                 <div th:replace = "customer/common :: filter"></div>
                  <!-- Filter End -->
                
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Default Sorting</option>
                                    </select>
                                    <select class="p-show">
                                        <option value="">Show:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>Show 01- 09 Of 36 Product</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row" th:each="product : ${products}">
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img class="product-image" style="width:300px"
               								th:src="@{|/productImage?code=${product.code}|}">
                                        <div class="sale pp-sale">Sale</div>
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a th:href="@{|/buyProduct?code=${product.code}|}"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view">
                                            	<a th:href="@{|/productDetail?code=${product.code}|}">+ Quick View</a>
                                            </li>
       
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">catagory name</div>
                                        <a th:href="@{|/productDetail?code=${product.code}|}">
                                            <h5 th:text="${product.name}"></h5>
                                        </a>
                                        <div class="product-price">
                                            <p th:text="${#numbers.formatDecimal(product.price,2,3,'COMMA')}"> VNĐ</p>
                                            <span>$35.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- col-lg-4 col-sm-6 -->
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Partner Logo Section Begin -->
    <div th:replace="customer/common :: logo"></div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer th:replace="customer/common :: footer"></footer>
        
</body>

</html>