<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer/common :: head"></head>
<body>

	<!-- Header Section Begin -->
    <header th:replace = "customer/common :: header"></header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div th:replace = "customer/common :: breacrumb-section-shoppingcart"></div>
    <!-- Breadcrumb Section Begin -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                     <th:block th:if="${cartForm == null || cartForm.cartLines == null || cartForm.cartLines.empty}">
				         <h2>Không có sản phẩm nào trong giỏ hàng</h2>
				          <div class="cart-buttons" style="margin-top:20px">
                                <a th:href="@{/product}" class="primary-btn continue-shop">Đến cửa hàng</a>
                           </div>
				      </th:block>
				      
				    <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
                     <form method="POST" th:object="${cartForm}" th:action="@{/shoppingCart}">
                        <table>
                            <thead>
                                <tr>
                                    <th>Ảnh</th>
                                    <th class="p-name">Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each = "cartLineInfo, varStatus : ${cartForm.cartLines}">
                                    <td class="cart-pic first-row">
                                    	<img th:src="@{|/productImage?code=${cartLineInfo.productInfo.code}|}" alt="" style="width:150px">
                                    </td>
                                    <td class="cart-title first-row">
                                        <h5 th:text="${cartLineInfo.productInfo.name}"></h5>
                                        <input type="hidden"      
				                           th:name="|cartLines[${varStatus.index}].productInfo.code|"                       
				                           th:value="${cartLineInfo.productInfo.code}" />
                                    </td>
                                    <td class="p-price first-row" th:text="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,3,'COMMA')}">
                                    	<input type="hidden"      
				                           th:name="|cartLines[${varStatus.index}].productInfo.price|"                       
				                           th:value="${cartLineInfo.productInfo.price}" />
                                    </td>
                                    <td class="qua-col first-row">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="number" th:name="|cartLines[${varStatus.index}].quantity|"
                                                 th:value="${cartLineInfo.quantity}" />
                                            </div>
                                        </div>
                                    </td>
                                    <td class="total-price first-row" th:text="${#numbers.formatDecimal(cartLineInfo.amount,2,3,'COMMA')}"></td>
                                    <td class="close-td first-row">
                                    	<a th:href="@{|/shoppingCartRemoveProduct?code=${cartLineInfo.productInfo.code}|}">Xóa</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table> 
                         <button type="submit" class="site-btn coupon-btn" style="margin-top:5px">Cập nhật giỏ hàng</button>
                         
                         </form>
                         </th:block>
                    </div>
                    <th:block th:if="${cartForm != null && cartForm.cartLines != null && !cartForm.cartLines.empty}">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a th:href="@{/product}" class="primary-btn continue-shop">Đến cửa hàng</a>
                            </div>
                        </div>
                        
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="subtotal">Subtotal<span th:text="${#numbers.formatDecimal(cartForm.amountTotal,2,3,'COMMA')}"></span></li>
                                    <li class="cart-total">Total <span th:text="${#numbers.formatDecimal(cartForm.amountTotal,2,3,'COMMA')}"></span></li>
                                </ul>
                                <a th:href="@{/shoppingCartCustomer}" class="proceed-btn">Tiếp tục</a>
                            </div>
                        </div>
                    </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Shopping Cart Section End -->

    <!-- Partner Logo Section Begin -->
    <div th:replace = "customer/common :: logo"></div>
    <!-- Partner Logo Section End -->

    <!-- Footer Section Begin -->
    <footer th:replace = "customer/common :: footer"></footer>
    <!-- Footer Section End -->
</body>

</html>